@model TipOdsustvaReadOnlyVM

@{
    ViewData["Title"] = $"{Model.Ime} Detalji";
}

<h1>Detalji za @Model.Ime</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojDana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojDana)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Vrati se na listu</a>
</div>
